#title {
    text-align: center;
}

#intro {
    text-align: center;
    padding-bottom: 50px;
}

body {
    background-color: turquoise;
}
form {
    width: 50%;
    margin-left: 25%;
}

p {
    text-align: center;
}

#rate {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0, auto;
}
#one {
    background-color: orange;
}

#two {
    background-color: orange;
}

#three {
    background-color: orange;
}

#four {
    background-color: orange;
}

#five {
    background-color: orange;
}

#six {
    background-color: orange;
}

#seven {
    background-color: orange;
}

#eight {
    background-color: orange;
}

#nine {
    background-color: orange;
}

#ten {
    background-color: orange;
}
